@import url(https://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);
* {
  margin: 0;
  padding: 0;
  font-family: roboto; }

.t-right {
  text-align: right; }

.t-left {
  text-align: left; }

.t-center {
  text-align: center; }

body {
  color: #ffffff;
  background-color: #262b32; }
  body h1, body h2, body h3, body h4, body p {
    margin: 0;
    padding: 0;
    font-weight: 100; }
  body .back10 {
    background-color: rgba(0, 0, 0, 0.1); }
  body .back20 {
    background-color: rgba(0, 0, 0, 0.2); }
  body .back40 {
    background-color: rgba(0, 0, 0, 0.4); }
  body .white20 {
    background-color: rgba(255, 255, 255, 0.2); }
  body .header h3 {
    font-size: 20px;
    padding: 0 10px 5px 0; }
  body .header .name {
    padding: 15px 0 0 20px; }
  body .header h1 {
    font-size: 35px;
    border-left: 1px solid;
    padding: 0 5px;
    margin-top: 5px;
    margin-right: 10px; }
  body .header p {
    font-size: 13px;
    padding: 5px 10px 3px 0; }
  body .header svg {
    margin-top: 3px;
    padding: 0 5px; }
  body .time-bar {
    font-size: 20px;
    font-weight: 100;
    padding: 20px 0;
    text-transform: uppercase;
    border-top: 2px solid rgba(255, 255, 255, 0.1); }
    body .time-bar .col-xs.t-center {
      max-width: 150px; }
    body .time-bar .col-xs.t-center:nth-child(1) {
      max-width: 100px; }
    body .time-bar .col-xs.t-center:nth-child(2) {
      max-width: 130px; }
    body .time-bar .col-xs.t-right a {
      padding: 5px 20px;
      background: rgba(255, 255, 0, 0.25);
      border: 1px solid #ffff00;
      margin-right: 15px;
      cursor: pointer; }
  body .reservation-status {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-weight: 100;
    padding: 5px 10px; }
    body .reservation-status b {
      font-weight: 300; }
    body .reservation-status .col-xs-3, body .reservation-status .col-xs-2 {
      color: rgba(255, 255, 255, 0.3); }
  body .footer {
    width: 100%;
    height: 200px; }
  body .table-list .even-row {
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  body .table-list .odd-row {
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  body .table-list .dot-svg {
    position: relative; }
    body .table-list .dot-svg img, body .table-list .dot-svg svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  body .table-list .confirmId {
    font-size: 35px;
    text-transform: uppercase; }
  body .table-list .time {
    font-size: 20px;
    font-weight: 100;
    padding: 9px;
    margin-right: 25px; }
  body .table-list .oulet-name {
    color: rgba(112, 136, 253, 0.9);
    font-size: 20px;
    font-weight: 100;
    padding: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  body .table-list .customer_remark {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 100;
    font-style: italic;
    padding: 5px 0; }
  body .table-list .staff_remark {
    font-weight: 100;
    font-style: italic;
    padding-bottom: 8px;
    color: rgba(255, 255, 0, 0.25); }
  body .table-list .pax span {
    display: inline-block;
    position: relative;
    top: 10px; }
    body .table-list .pax span svg {
      width: 40px;
      height: 40px; }
  body .table-list .room span {
    display: inline-block;
    position: relative;
    top: 10px; }
    body .table-list .room span svg {
      width: 40px;
      height: 40px; }
  body .table-list .phone-mail span {
    display: inline-block;
    position: relative;
    top: 5px; }
  body .table-list .phone-mail p {
    color: rgba(255, 255, 255, 0.4);
    font-style: italic; }
    body .table-list .phone-mail p:nth-child(2) {
      line-height: 1.9; }
  body .table-list .status-info {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    body .table-list .status-info h3 {
      text-transform: uppercase;
      font-weight: 400;
      line-height: 1.75; }
  body .table-list .next-svg {
    position: relative;
    cursor: pointer; }
    body .table-list .next-svg svg {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }

.popup .self-center {
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(38, 43, 50, 0.8); }
  .popup .self-center .confirmId {
    font-size: 50px;
    padding: 7px 10px 0px  10px;
    text-transform: uppercase; }
  .popup .self-center .SelectBox {
    position: relative;
    height: 67.5px;
    cursor: pointer; }
    .popup .self-center .SelectBox .dropdown-menu li {
      display: block;
      padding: 5px;
      background: rgba(255, 255, 255, 0.4);
      cursor: pointer;
      font-size: 20px; }
      .popup .self-center .SelectBox .dropdown-menu li:hover {
        background: rgba(0, 255, 255, 0.25); }
  .popup .self-center .payment-status {
    font-size: 40px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    text-transform: uppercase; }
    .popup .self-center .payment-status .caret {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-top: 10px dashed;
      border-top: 10px solid\9;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent; }
  .popup .self-center .hours svg {
    width: 50px;
    height: 50px;
    margin-top: 10px; }
  .popup .self-center .hours .t-hours {
    padding: 5px 10px;
    font-size: 18px; }
    .popup .self-center .hours .t-hours p {
      word-spacing: 26px;
      font-size: 15px;
      padding-left: 5px;
      color: rgba(255, 255, 255, 0.4); }
  .popup .self-center .content {
    padding: 40px; }
    .popup .self-center .content input:focus, .popup .self-center .content textarea:focus {
      outline: none; }
    .popup .self-center .content h3 {
      font-size: 15px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.4);
      font-weight: 400; }
    .popup .self-center .content .info .customer-info .customer-text {
      font-size: 20px;
      width: 85px;
      padding-top: 15px; }
    .popup .self-center .content .info .customer-info .phone-country {
      width: 80px; }
      .popup .self-center .content .info .customer-info .phone-country input {
        width: calc(100% - 40px); }
    .popup .self-center .content .info .customer-info input {
      width: calc(100% - 80px);
      font-size: 20px;
      padding: 8px 10px;
      background-color: rgba(0, 0, 0, 0.3);
      color: rgba(112, 136, 253, 0.9);
      border: 1px solid rgba(255, 255, 255, 0.1);
      margin-top: 5px;
      font-weight: 100; }
    .popup .self-center .content .pax-info {
      padding-top: 30px; }
      .popup .self-center .content .pax-info .pax-text {
        font-size: 20px;
        width: 110px;
        padding-top: 15px; }
      .popup .self-center .content .pax-info .calc-pax {
        margin-top: 5px; }
        .popup .self-center .content .pax-info .calc-pax .calc {
          display: inline-block;
          background-color: rgba(0, 0, 0, 0.3);
          padding: 6px 8px 3px 8px;
          border: 1px solid rgba(255, 255, 255, 0.1);
          cursor: pointer; }
        .popup .self-center .content .pax-info .calc-pax .calcSuccess {
          display: inline-block;
          font-size: 25px;
          font-weight: 100;
          position: relative;
          top: -3px;
          width: 45px;
          text-align: center; }
    .popup .self-center .content .date-reminder-info {
      padding-top: 40px; }
      .popup .self-center .content .date-reminder-info .date-info .time-info {
        font-size: 20px;
        width: 140px;
        line-height: 1.75; }
        .popup .self-center .content .date-reminder-info .date-info .time-info p {
          font-weight: 400; }
      .popup .self-center .content .date-reminder-info .date-info .date-svg span {
        display: inline-block;
        width: 55px;
        height: 55px;
        background: rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.1);
        position: relative; }
        .popup .self-center .content .date-reminder-info .date-info .date-svg span svg#Layer_1 {
          fill: rgba(112, 136, 253, 0.9);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
      .popup .self-center .content .date-reminder-info .reminder-info .checkbox, .popup .self-center .content .date-reminder-info .reminder-info .radio {
        position: relative;
        display: block;
        margin: 15px 10px 10px 0; }
      .popup .self-center .content .date-reminder-info .reminder-info [type="checkbox"]:not(:checked) {
        position: absolute;
        left: -9999px;
        opacity: 0; }
      .popup .self-center .content .date-reminder-info .reminder-info [type="checkbox"]:checked {
        position: absolute;
        left: -9999px;
        opacity: 0; }
        .popup .self-center .content .date-reminder-info .reminder-info [type="checkbox"]:checked + label:before {
          top: -6px;
          left: -2px;
          width: 7px;
          height: 20px;
          border-top: 2px solid transparent;
          border-left: 2px solid transparent;
          border-right: 3px solid rgba(112, 136, 253, 0.9);
          border-bottom: 3px solid rgba(112, 136, 253, 0.9);
          -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
          z-index: 1;
          background-color: transparent; }
      .popup .self-center .content .date-reminder-info .reminder-info [type="checkbox"] + label {
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        display: inline-block;
        height: 25px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -ms-user-select: none;
        font-size: 20px;
        font-weight: lighter;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: normal;
        font-weight: 400; }
      .popup .self-center .content .date-reminder-info .reminder-info [type="checkbox"] + label:before, .popup .self-center .content .date-reminder-info .reminder-info [type="checkbox"]:not(.filled-in) + label:after {
        content: '';
        position: absolute;
        top: -5px;
        left: 0;
        z-index: 0;
        margin-top: 2px;
        transition: .2s;
        width: 25px;
        height: 25px;
        border: solid 1px rgba(255, 255, 255, 0.1);
        background-color: rgba(0, 0, 0, 0.3); }
    .popup .self-center .content .remarks textarea {
      background-image: -webkit-linear-gradient(left, transparent 12px, transparent 12px), -webkit-linear-gradient(right, transparent 12px, transparent 12px), -webkit-linear-gradient(top, transparent 31px, #cccccc 30px, #cccccc 31px, transparent 32px);
      background-size: 100% 100%, 100% 100%, 100% 33px;
      border: none;
      border-radius: 8px;
      line-height: 31px;
      padding: 8px;
      margin: 0px;
      width: calc(100% - 16px);
      height: 100px;
      resize: none;
      background-color: transparent;
      font-size: 18px;
      font-weight: 100;
      font-style: italic; }
    .popup .self-center .content .remarks .customer-remark textarea {
      color: rgba(255, 255, 255, 0.4); }
    .popup .self-center .content .remarks .staff-remark textarea {
      color: rgba(255, 255, 0, 0.25); }
    .popup .self-center .content .remarks .deposit {
      padding-top: 60px; }
      .popup .self-center .content .remarks .deposit p {
        font-size: 25px; }
        .popup .self-center .content .remarks .deposit p:nth-child(2) {
          line-height: 1.75; }
        .popup .self-center .content .remarks .deposit p:nth-child(3) {
          text-transform: uppercase; }
      .popup .self-center .content .remarks .deposit .button-deposit {
        width: 150px;
        text-align: center; }
        .popup .self-center .content .remarks .deposit .button-deposit .btn-void a {
          font-size: 20px;
          text-transform: uppercase;
          padding: 10px;
          display: block;
          background-color: rgba(255, 0, 0, 0.25);
          border: 1px solid #ff0000;
          margin-bottom: 3px;
          cursor: pointer; }
        .popup .self-center .content .remarks .deposit .button-deposit .btn-charge a {
          font-size: 20px;
          text-transform: uppercase;
          padding: 10px;
          display: block;
          background-color: rgba(0, 255, 255, 0.25);
          border: 1px solid #00ffff;
          margin-bottom: 3px;
          cursor: pointer; }
  .popup .self-center .btn-bottom {
    padding-top: 40px; }
    .popup .self-center .btn-bottom .btn-send {
      text-align: center;
      font-size: 30px;
      text-transform: uppercase;
      padding: 15px;
      background: rgba(255, 255, 255, 0.4);
      cursor: pointer; }
    .popup .self-center .btn-bottom .btn-empty {
      background-color: rgba(0, 0, 0, 0.5); }
    .popup .self-center .btn-bottom .btn-cancel {
      text-align: center;
      font-size: 30px;
      text-transform: uppercase;
      padding: 15px;
      background: rgba(255, 0, 0, 0.25); }
    .popup .self-center .btn-bottom .btn-update {
      text-align: center;
      font-size: 30px;
      text-transform: uppercase;
      padding: 15px;
      background-color: rgba(0, 255, 255, 0.25); }

.whiteText {
  color: #ffffff; }

.redText {
  color: #ff0000; }

.greenText {
  color: #00ff0c; }

.blueText {
  color: rgba(112, 136, 253, 0.9); }
