$white: #ffffff;
$black: #000000;
$yelow: #ffff00;
$red: #ff0000;
$tBlue: #7088fd;
$greenDot: #00ffcc;
$tGreen: #00ff0c;
$greenL: #00ffff;
$bgBlack: #262b32;
$yelow25: rgba($yelow, 0.25);

@import url(https://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);

* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

.t-right {
    text-align: right;
}
.t-left {
    text-align: left;
}
.t-center {
    text-align: center;
}
body {
    color: $white;
    background-color: $bgBlack;
    h1, h2, h3, h4, p {
        margin: 0;
        padding: 0;
        font-weight: 100;
    }
    .back10 {
        background-color: rgba($black, 0.1);
    }
    .back20 {
        background-color: rgba($black, 0.2);
    }
    .back40 {
        background-color: rgba($black, 0.4);
    }
    .white20 {
        background-color: rgba($white, 0.2)
    }
    .header {
        h3 {
            font-size: 20px;
            padding: 0 10px 5px 0;
        }
        .name {
            padding: 25px 0 0 10px;
        }
        h1 {
            font-size: 35px;
            border-left: 1px solid;
            padding: 0 5px;
            margin-top: 15px;
            margin-right: 10px;
        }
        p {
            font-size: 13px;
            padding: 15px 10px 3px 0;
        }
        svg {
            margin-top: 3px;
            padding: 0 5px;
        }
        .log-out {
            padding: 5px 5px;
            border: 1px solid rgba(255, 255, 255, 0.7);
            margin: 15px 10px 5px 0;
            border-radius: 5px;
            cursor: pointer;
            display: inline-block;
            svg {
                margin-top: 5px;
                fill: white;
            }
        }
    }
    .modal-header {
        .modal-btn {
            padding: 10px 10px;
            border: 1px solid rgba(255, 255, 255, 0.7);
            margin: 10px 10px;
            border-radius: 5px;
            cursor: pointer;
            &:hover{
                background: rgba(0, 0, 0, 0.5);
            }
        }
        .wrap-search {
            float: right;
            padding: 10px;
           #search {
                width: 357px;
                margin: 4px;
            }

            #search_text {
                width: 297px;
                padding: 15px 0 15px 20px;
                font-size: 16px;
                font-family: Montserrat, sans-serif;
                border: 0 none;
                height: 52px;
                margin-right: 0;
                color: white;
                outline: none;
                background: rgba(0, 0, 0, 0.5);
                float: right;
                box-sizing: border-box;
                transition: all 0.15s;
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
                &:focus {
                    background: rgba(0, 0, 0, 0.3);
                }
            }

            #search_button {
                border: 0 none;
                background: rgba(0, 0, 0, 0.5) url("../img/ic_search_black_24px.svg") center no-repeat;
                width: 60px;
                float: right;
                padding: 0;
                text-align: center;
                height: 52px;
                cursor: pointer;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
                &:focus {
                    outline: transparent;
                }
            }
            
        }
    }
    .time-bar {
        font-size: 20px;
        font-weight: 100;
        padding: 20px 0 10px 0;
        text-transform: uppercase;
        border-top: 2px solid rgba($white, 0.1);
        @media screen and (max-width: 1325px) {
               font-size: 15px;
            }
        @media screen and (max-width: 1060px) {
               font-size: 13px;
            }
        .filter-text {
            margin: 0 5px;
            padding: 0 10px 10px 10px;
            
        }
        .col-xs.t-right {
            a {
                padding: 5px 20px;
                background: $yelow25;
                border: 1px solid $yelow;
                margin-right: 15px;
                cursor: pointer;
            }
        }
    }
    .reservation-status {
        border-top: 1px solid rgba($white, 0.1);
        border-bottom: 1px solid rgba($white, 0.1);
        font-weight: 100;
        padding: 5px 10px;
        b {
            font-weight: 300;
        }.col-xs-3,.col-xs-2 {
            color: rgba($white, 0.3)
        }
    }
    .footer {
        width: 100%;
        height: 200px;
    }
    .table-list {
        .even-row {
            background-color: rgba($white, 0.05);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        } 
        .odd-row {
            background-color: transparent;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
        .dot-svg {
            position: relative;
            img,svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        .confirmId {
            font-size: 35px;
            text-transform: uppercase;
        }
        .time {
            font-size: 20px;
            font-weight: 100;
            padding: 9px;
            margin-right: 25px;
        }
        .oulet-name {
            color: rgba($tBlue, 0.9);
            font-size: 20px;
            font-weight: 100;
            padding: 5px 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .customer_remark {
            color: rgba($white, 0.3);
            font-weight: 100;
            font-style: italic;
            padding: 5px 0;
            
        }
        .staff_remark {
            font-weight: 100;
            font-style: italic;
            padding-bottom: 8px;
            color: rgba($yelow, 0.25);
            
        }
        .pax {
            span{
                display: inline-block;
                position: relative;
                top: 10px;
                svg {
                    width: 40px;
                    height: 40px;
                }
            }
        }
        .room {
            span {
                display: inline-block;
                position: relative;
                top: 10px;
                svg {
                    width: 40px;
                    height: 40px;
                }
            }
        }
        .phone-mail {
            span {
                display: inline-block;
                position: relative;
                top: 5px;
            }
            p{
                color: rgba(255, 255, 255, 0.4);
                font-style: italic;
                &:nth-child(2) {
                    line-height: 1.9;
                }
            }
        }
        .status-info {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            h3 {
                text-transform: uppercase;
                font-weight: 400;
                line-height: 1.75;
            }
        }
        .next-svg {
            position: relative;
            cursor: pointer;
            svg {
                width: 50px;
                height: 50px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.popup {
    .self-center {
        border: 1px solid rgba($white, 0.7);
        background-color: rgba($bgBlack, 1);
        position: relative;
        .confirmId {
            font-size: 50px;
            padding: 7px 10px 0px  10px;
            text-transform: uppercase;
        }
        .SelectBox {
            position: relative;
            height: 67.5px;
            cursor: pointer;
            .dropdown-menu {
                background-color: rgb(38, 43, 50);
                position: relative;
                z-index: 1;
                li {
                    display: block;
                    padding: 5px;
                    background: rgba(255, 255, 255, 0.4);
                    cursor: pointer;
                    font-size: 30px;
                    &:hover {
                        background: rgba(0, 255, 255, 0.25);
                    }
                    a {
                        display: block;
                        padding: 5px 5px;
                    }
                }
            }
        }
        .payment-status {
            font-size: 40px;
            padding: 10px 20px;
            background-color: rgba(255, 255, 255, 0.2);
            text-transform: uppercase;
            min-width: 231.78px;
            .caret {
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: 2px;
                vertical-align: middle;
                border-top: 10px dashed;
                border-top: 10px solid\9;
                border-right: 10px solid transparent;
                border-left: 10px solid transparent;
            }
        }
        .hours {
            svg {
                width: 50px;
                height: 50px;
                margin-top: 10px;
            }
            .t-hours {
                padding: 5px 10px;
                font-size: 18px;
                p {
                    word-spacing: 10px;
                    font-size: 15px;
                    padding-left: 5px;
                    color: rgba($white, 0.4)
                }
            }
        }
        .content {
            padding: 40px;
            input, textarea {
                &:focus {
                    outline: none;
                }
            }
            h3 {
                font-size: 15px;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.4);
                font-weight: 400;
                width: 100%;
            }
            .info {
                .customer-info {
                    .customer-text {
                        font-size: 20px;
                        width: 85px;
                        padding-top: 15px;
                    }
                    .phone-country {
                        width: 80px;
                        input {
                            width: calc(100% - 40px);
                        }
                    }
                    input {
                        width: calc(100% - 80px);
                        font-size: 20px;
                        padding: 8px 10px;
                        background-color: rgba(0, 0, 0, 0.3);
                        color: rgba($tBlue, 0.9);
                        border: 1px solid rgba(255, 255, 255, 0.1);
                        margin-top: 5px;
                        font-weight: 100;
                    }
                    .firstName {
                        width: 200px;
                        input {
                            width: calc(100% - 40px);
                        }
                    }
                    select:focus {
                        outline-offset: 0;
                        outline:none;
                    }
                    .select-style {
                        padding: 0;
                        position: relative;
                        margin-right: 15px;
                    }

                    .select-style:after {
                        top: 50%;
                        right: 5px;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        border-color: rgba(0, 0, 0, 0);
                        border-top-color: #9e9e9e;
                        border-width: 5px;
                        margin-top: -2px;
                        z-index: 100;
                    }

                    .select-style select {
                        width: 85px;
                        box-shadow: none;
                        background-image: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        font-size: 20px;
                        padding: 8px 10px;
                        background-color: rgba(0, 0, 0, 0.3);
                        color: rgba(112, 136, 253, 0.9);
                        border: 1px solid rgba(255, 255, 255, 0.1);
                        margin-top: 5px;
                        font-weight: 100;
                    }

                    .select-style select:focus {
                        outline: none;
                    }
                }
            }
            .pax-info {
                padding-top: 30px;
                .pax-text {
                    font-size: 20px;
                    width: 110px;
                    padding-top: 15px;
                }
                .calc-pax {
                    margin-top: 5px;
                    .calc {
                        display: inline-block;
                        background-color: rgba(0, 0, 0, 0.3);
                        padding: 6px 8px 3px 8px;
                        border: 1px solid rgba(255, 255, 255, 0.1);
                        cursor: pointer;
                    }
                    .calcSuccess {
                        display: inline-block;
                        font-size: 25px;
                        font-weight: 100;
                        position: relative;
                        top: -3px;
                        width: 45px;
                        text-align: center;
                    }
                }
            }
            .date-reminder-info {
                padding-top: 40px;
                .date-info {
                    .time-info {
                        font-size: 20px;
                        width: 140px;
                        line-height: 1.75;
                        p{
                            font-weight: 400;
                        }
                    }
                    .date-svg {
                        span {
                            display: inline-block;
                            width: 55px;
                            height: 55px;
                            background: rgba(0, 0, 0, 0.3);
                            border: 1px solid rgba(255, 255, 255, 0.1);
                            position: relative;
                            svg#Layer_1 {
                                fill: rgba($tBlue, 0.9);
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                
                }
                
            }
            
            .remarks {
                
                textarea {
                    background-image: -webkit-linear-gradient(left, transparent 12px, transparent 12px), -webkit-linear-gradient(right, transparent 12px, transparent 12px), -webkit-linear-gradient(top, transparent 31px, #cccccc 30px, #cccccc 31px, transparent 32px);
                    background-size: 100% 100%, 100% 100%, 100% 33px;
                    border: none;
                    border-radius: 8px;
                    line-height: 31px;
                    padding: 8px;
                    margin: 0px;
                    width: calc(100% - 16px);
                    height: 100px;
                    resize: none;
                    background-color: transparent;
                    font-size: 18px;
                    font-weight: 100;
                    font-style: italic;
                }
                .customer-remark {
                    textarea {
                        color: rgba($white, 0.4);
                    }
                }
                .staff-remark {
                    textarea {
                        color: rgba($yelow, 0.25);
                    }
                }
                .deposit {
                    padding-top: 60px;
                    p {
                        font-size: 25px;
                        &:nth-child(2) {
                            line-height: 1.75;
                        }
                        &:nth-child(3) {
                            text-transform: uppercase;
                        }
                    }
                   .button-deposit {
                        width: 150px;
                        text-align: center;
                       .btn-void {
                            a {
                                font-size: 20px;
                                text-transform: uppercase;
                                padding: 10px;
                                display: block;
                                background-color: rgba($red, 0.25);
                                border: 1px solid $red;
                                margin-bottom: 3px;
                                cursor: pointer;
                            }
                       }
                       .btn-charge {
                            a {
                                font-size: 20px;
                                text-transform: uppercase;
                                padding: 10px;
                                display: block;
                                background-color: rgba($greenL, 0.25);
                                border: 1px solid $greenL;
                                margin-bottom: 3px;
                                cursor: pointer;
                            }
                       }
                   }
                }
                .customer-text {
                    font-size: 20px;
                    width: 85px;
                    padding-top: 15px;
                }
                .amount {
                    input {
                        width: calc(100% - 80px);
                        font-size: 20px;
                        padding: 8px 10px;
                        background-color: rgba(0, 0, 0, 0.3);
                        color: rgba(112, 136, 253, 0.9);
                        border: 1px solid rgba(255, 255, 255, 0.1);
                        margin-top: 5px;
                        font-weight: 100;
                    }
                    .disabled {
                        pointer-events: none;
                        background-color: rgba(251, 251, 251, 0.3);
                    }
                }
            }
        }
        .btn-bottom {
            padding-top: 40px;
            .btn-send {
                text-align: center;
                font-size: 30px;
                text-transform: uppercase;
                padding: 15px;
                background: rgba($white, 0.40);
                cursor: pointer;
            }
            .btn-empty {
                background-color: rgba($black, 0.5);
            }
            .btn-cancel {
                text-align: center;
                font-size: 30px;
                text-transform: uppercase;
                padding: 15px;
                background: rgba($red, 0.25);
                cursor: pointer;
            }
            .btn-update {
                text-align: center;
                font-size: 30px;
                text-transform: uppercase;
                padding: 15px;
                background-color: rgba($greenL, 0.25);
                cursor: pointer;
            }
        }
    }
}
.whiteText {
    color: $white;
}
.redText {
    color: $red;
}
.greenText {
    color: $tGreen;
}
.blueText {
    color: rgba($tBlue, 0.9);
}

.close{
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    top: -40px;
    right: -40px;
    background: rgba(26, 93, 98, 0.9);
    border-radius: 5px;
    cursor: pointer;
  &:hover {
    &::before, &::after {
      background: $greenL;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #ffffff;
  }
  &::before {
   transform: rotate(45deg);
  }
  &::after {
       transform: rotate(-45deg);
  }
  &.thick {
    &::before, &::after {
      height: 4px;
      margin-top: -2px;
    }
  }
}
.toggle-base {
//   height: 20px;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.toggle-enter {
    animation-name: fadeInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.toggle-leave {
    animation-name: fadeOutLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

/* calender */

// .calendar-popup {
//     position: fixed;
//     width: 100%;
//     background: cadetblue;
// }
.calendar-popup {
    position: fixed;
    width: 600px;
    background: rgba(18, 21, 21, 0.9);
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid;
    ul {
        padding-top: 10px;
        border-top: 1px solid;
        margin-top: 10px;
        li {
            display: inline-block;
            // padding: 14.5px;
            border: 2px solid #1385e5;
            margin: 5px;
            border-radius: 3px;
            font-size: 20px;
            // min-width: 142px;
            text-align: center;
            cursor: pointer;
            span {
                display: inline-block;
                padding: 14.5px;
            }
        }
    }
}

 .reminder-info {
        .checkbox, .radio {
            position: relative;
            display: block;
            margin: 15px 10px 10px 0;
        }
        [type="checkbox"] {
            &:not(:checked) {
                position: absolute;
                left: -9999px;
                opacity: 0;
            }
            &:checked {
                position: absolute;
                left: -9999px;
                opacity: 0;
                + label:before {
                    top: -6px;
                    left: -2px;
                    width: 7px;
                    height: 20px;
                    border-top: 2px solid transparent;
                    border-left: 2px solid transparent;
                    border-right: 3px solid rgba($tBlue, 0.9);
                    border-bottom: 3px solid rgba($tBlue, 0.9);
                    -webkit-transform: rotate(40deg);
                    transform: rotate(40deg);
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    -webkit-transform-origin: 100% 100%;
                    transform-origin: 100% 100%;
                    z-index: 1;
                    background-color: rgba(0, 0, 0, 0);
                }
            }
            + label {
                position: relative;
                padding-left: 35px;
                cursor: pointer;
                display: inline-block;
                height: 25px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -khtml-user-select: none;
                -ms-user-select: none;
                font-size: 20px;
                font-weight: lighter;
                font-stretch: normal;
                line-height: 1.17;
                letter-spacing: normal;
                font-weight: 400;
            }
            + label:before, &:not(.filled-in) + label:after {
                    content: '';
                    position: absolute;
                    top: -5px;
                    left: 0;
                    z-index: 0;
                    margin-top: 2px;
                    transition: .2s;
                    width: 25px;
                    height: 25px;
                    border: solid 1px rgba(255, 255, 255, 0.1);
                    background-color: rgba(0, 0, 0, 0.3);
            }
        }
    }