@import url(https://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);
* {
  margin: 0;
  padding: 0;
  font-family: roboto; }

.t-right {
  text-align: right; }

.t-left {
  text-align: left; }

.t-center {
  text-align: center; }

body {
  color: #ffffff;
  background-color: #262b32; }
  body h1, body h2, body h3, body h4, body p {
    margin: 0;
    padding: 0;
    font-weight: 100; }
  body .back10 {
    background-color: rgba(0, 0, 0, 0.1); }
  body .back20 {
    background-color: rgba(0, 0, 0, 0.2); }
  body .back40 {
    background-color: rgba(0, 0, 0, 0.4); }
  body .white20 {
    background-color: rgba(255, 255, 255, 0.2); }
  body .header h3 {
    font-size: 20px;
    padding: 0 10px 5px 0; }
  body .header .name {
    padding: 15px 0 0 20px; }
  body .header h1 {
    font-size: 35px;
    border-left: 1px solid;
    padding: 0 5px;
    margin-top: 5px;
    margin-right: 10px; }
  body .header p {
    font-size: 13px;
    padding: 5px 10px 3px 0; }
  body .header svg {
    margin-top: 3px;
    padding: 0 5px; }
  body .time-bar {
    font-size: 20px;
    font-weight: 100;
    padding: 20px 0;
    text-transform: uppercase;
    border-top: 2px solid rgba(255, 255, 255, 0.1); }
    body .time-bar .col-xs.t-center {
      max-width: 150px; }
    body .time-bar .col-xs.t-center:nth-child(1) {
      max-width: 100px; }
    body .time-bar .col-xs.t-center:nth-child(2) {
      max-width: 130px; }
    body .time-bar .col-xs.t-right a {
      padding: 5px 20px;
      background: rgba(255, 255, 0, 0.25);
      border: 1px solid #ffff00;
      margin-right: 15px;
      cursor: pointer; }
  body .reservation-status {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-weight: 100;
    padding: 5px 10px; }
    body .reservation-status b {
      font-weight: 300; }
    body .reservation-status .col-xs-3, body .reservation-status .col-xs-2 {
      color: rgba(255, 255, 255, 0.3); }
  body .footer {
    width: 100%;
    height: 200px; }
  body .table-list .even-row {
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  body .table-list .odd-row {
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  body .table-list .confirmId {
    font-size: 35px;
    text-transform: uppercase; }
  body .table-list .time {
    font-size: 20px;
    font-weight: 100;
    padding: 9px;
    margin-right: 25px; }
  body .table-list .oulet-name {
    color: rgba(112, 136, 253, 0.9);
    font-size: 20px;
    font-weight: 100;
    padding: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  body .table-list .customer_remark {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 100;
    font-style: italic;
    padding: 5px 0; }
  body .table-list .staff_remark {
    font-weight: 100;
    font-style: italic;
    padding-bottom: 8px;
    color: rgba(255, 255, 0, 0.25); }
